<style>
  /* ***********************************************Side Nav Bar********************************************* */

  .side_nav_bar {
    width: 12%;
    height:100vh;
    background-color: #0a4f5f;
    float: left;
  }

  .side_nav_bar label{
    /* background-color: #ffffff; */
    width: 100%;
    color : white;
  }

  .side_nav_bar_img {
    width: 100%;
    height: 200px;
    background-color: #0a4f5f;
    border: 1px solid #0a4f5f;
  }

  .side_nav_bar_img img {
    width: 60%;
    height: 120px;
     margin-top: 30px;
    margin-left: 18%;
  }

  .side_nav_bar_content {
    /* border : 1px solid black; */
    height: calc(100vh - 200px);
    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 11.9%;
    background-color: #0a4f5f;
    position: absolute;
  }

  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a.active {
    background-color: white;
    color: black;
  }

  li a:hover:not(.active) {
    background-color: white;
    color: black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width : 80%;
  }

  li a:active{
    background-color: aquamarine;
  }




  /* ***********************************************Side Nav Bar End***************************************** */



  /* ***********************************************Header CSS*********************************************** */

  .header {
    background-color: white;
    /* border : 1px solid #074a76; */
    height: 65px;
    width: 88%;
    float: right;
    border-bottom: 1px solid #074a76;
  }

  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header-btn {
    float: right;
  }

  .dropbtn {
    background-color: #678c96;
    /* background-color: #e25828; */
    color: white;
    padding: 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    margin-top: 6px;
    margin-right: 6px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 95%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }

  .dropdown-content a:hover {
    background-color: #678c96;
    width: 100%;
    color: white;

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

  /* ***********************************************Header CSS End*********************************************** */

  /* ***********************************************Center Content*************************************************** */

  .center_content {
    /* border : 1px solid black; */
    height: calc(100vh - 80px - 65px);
    width: 88%;
    background-color: #f5f9fc;
    float: right;
  }

  .Property_Info{
    /* border : 1px solid black; */
    height : 320px;
    width : 96%;
    margin-left: 2%;
    margin-top: 20px;
    
  }

  .Total_Properties_Block{
    border : 1px solid ;
    height : 280px;
    width : 25%;
    margin-left: 2%;
    margin-top: 20px;
    float : left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px #888888;
  }

  .Total_Properties_Block:hover{

    background-color: #f5f9fc;

  }

  .Sub_Properties_Block{
    border : 1px solid black;
    height : 280px;
    width : 25%;
    margin-left: 2%;
    margin-top: 20px;
    float : left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px #888888;
  }

  .Properties_Pie_Chart{

    border : 1px solid black;
    height : 280px;
    width : 30%;
    margin-left: 2%;
    margin-top: 20px;
    float : left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px #888888;

  }

  .Rent_Info{

    border : 1px solid black;
    height : 320px;
    width : 96%;
    margin-left: 2%;
    margin-top: 20px;

  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0px;
    /* border:1px solid black; */

  }

  th {
    border: 1px solid #dddddd;
    background-color: #688b96;
    color: white;
    text-align: center;
    padding: 8px;
  }

  td {
    border: 1px solid #dddddd;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .center_content_table_area {
    /* border : 1px solid black; */
    background-color: #f5f9fc;
    /* height : calc(100vh - 100px - 65px - 66.5px - 40px); */
    height: 650px;
    width: 97.5%;
    margin-left: 1.25%;
    margin-top: 20px;
  }

  .pagination {
    /* border : 1px solid black; */
    height: 40px;
    width: 97.5%;
    margin-left: 1.25%;
  }

  .btn {
    /* background-color: DodgerBlue; */
    background-color: #f0f0f0;
    border: none;
    color: black;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: #ffffff;
    color: black;
    font-size: small;
    margin-top: 30px;
    border: 1px solid black;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .btn:hover .tooltiptext {
    visibility: visible;
    
  }

  .btn:hover {
    background-color: #688b96;
    color:#ffffff;
  }

  .search_property_input {
    width: 20%;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 0%;
  }




  /* ***********************************************Center Content End*********************************************** */
</style>



<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<div class="header">
  <div class="header-btn">
    <div class="dropdown">
      <button class="dropbtn">{{newsessData.first_name}} {{newsessData.last_name}}</button>
      <div class="dropdown-content">
        <a routerLink="/re-profile-setting">Profile</a>
        <a (click)="signout()">Sign out</a>
      </div>
    </div>
  </div>
</div>

<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->




<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<div class="side_nav_bar">
  <div class="side_nav_bar_img">
    <img src="assets/pay2m_logo.JPG">
  </div>
  

 
  
  <div class="side_nav_bar_content">
     
     <!-- <div style="height: 20px; width : 40%; background-color: #ffffff; border-top-right-radius:10px; border-bottom-right-radius:10px;"><label style="color:#0a4f5f; margin-left: 5%;">Menu</label></div> -->
    <ul>
      <br>
      <li><a routerLink="/userprofile"><img style="height : 25px; width : 15%; border-radius: 2px;" src="assets/dashboard_4.jpg"> &nbsp; Dashboard</a></li>
      <div style="height: 1px; width : 60%; background-color: #ffffff;"></div>
      <li><a routerLink="/property-details"> <img style="height : 25px; width : 15%; border-radius: 2px;" src="assets/Property_logo.jpg"> &nbsp; Properties</a></li>
      <div style="height: 1px; width : 60%; background-color: #ffffff;"></div>
      <li><a routerLink="/re-tenant-details"> <img style="height : 25px; width : 15%; border-radius: 2px;" src="assets/tenant_logo.jpg"> &nbsp; Tenants</a></li>
      <div style="height: 1px; width : 60%; background-color: #ffffff;"></div>
    </ul>
  </div>
</div>

<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->



<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<div class="center_content">

  <table>
          <tr>
            <!-- <th> ID</th> -->
            <th> Name</th>
            <th> Permit No</th>
            <th> Building No</th>
            <th> Street No</th>
            <th> Zone No</th>
            <!-- <th> Image</th> -->
            <th> Unit Name</th>
            <th> Unit No.</th>
            <th> Detail</th>

          </tr>
    
          <tr *ngFor="let item of result_data | paginate: { itemsPerPage:4, currentPage:p1}">
            <!-- <td>{{item.main_property_id}}</td> -->
            <td>{{item.main_property_name}}</td>
            <td>{{item.main_property_legal_id}}</td>
            <td>{{item.mainproperty_building_no}}</td>
            <td>{{item.mainproperty_street_no}}</td>
            <td>{{item.mainproperty_zone_no}}</td>
            <td>{{item.sub_property_name}}</td>
            <td>{{item.sub_property_legal_id}}</td>
            <td><button (click)="respectiveData(item.sub_property_id)">Detail</button></td>

          </tr>
  </table>

  <div class="pagination">
    <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
    </div>

</div>


   


<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->



<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->









<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->