
<style>
    .content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.bgcolor{
  background-color:#233444;
}

</style>


<div class = "content">

<!-- <img [src]="logoimagepath" height="250px" > -->
<p style = "font-size: 35px">Primxact has a track record of providing career-changing information technology, cyber security, and project management training.</p>
<p style = "font-size: 35px">From novice to expert, we design learning paths for individuals and corporations. As a result of our experiences, we have come to the conclusion that in order to survive in the labor market, people need to receive professional knowledge in the form of internationally recognized certification training.</p>
</div>
