<style>
  /* ***********************************************Side Nav Bar********************************************* */

  .side_nav_bar {
    width: 12%;
    height: 100vh;
    background-color: #0a4f5f;
    float: left;
  }

  .side_nav_bar label {
    /* background-color: #ffffff; */
    width: 100%;
    color: white;
  }

  .side_nav_bar_img {
    width: 100%;
    height: 200px;
    background-color: #0a4f5f;
    border: 1px solid #0a4f5f;
  }

  .side_nav_bar_img img {
    width: 60%;
    height: 120px;
    margin-top: 30px;
    margin-left: 18%;
  }

  .side_nav_bar_content {
    /* border : 1px solid black; */
    height: calc(100vh - 200px);
    width: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 11.9%;
    background-color: #0a4f5f;
    position: absolute;
  }

  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a.active {
    background-color: white;
    color: black;
  }

  li a:hover:not(.active) {
    background-color: white;
    color: black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 80%;
  }

  li a:active {
    background-color: aquamarine;
  }




  /* ***********************************************Side Nav Bar End***************************************** */



  /* ***********************************************Header CSS*********************************************** */

  .header {
    background-color: white;
    /* border : 1px solid #074a76; */
    height: 65px;
    width: 88%;
    float: right;
    border-bottom: 1px solid #074a76;
  }

  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header-btn {
    float: right;
  }

  .dropbtn {
    background-color: #678c96;
    /* background-color: #e25828; */
    color: white;
    padding: 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    margin-top: 6px;
    margin-right: 6px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 95%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }

  .dropdown-content a:hover {
    background-color: #678c96;
    width: 100%;
    color: white;

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

  /* ***********************************************Header CSS End*********************************************** */

  /* ***********************************************Center Content*************************************************** */

  .center_content {
    /* border : 1px solid black; */
    height: calc(100vh - 80px - 65px);
    width: 88%;
    background-color: #f5f9fc;
    float: right;
  }

  .Property_Info {
    /* border: 1px solid black; */
    height: 320px;
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;

  }

  .Total_Properties_Block {
    border: 1px solid;
    height: 280px;
    width: 25%;
    margin-left: 2%;
    margin-top: 20px;
    float: left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px #888888;
  }

  .Total_Properties_Block:hover {

    background-color: #f5f9fc;

  }

  .Sub_Properties_Block {
    border: 1px solid black;
    height: 280px;
    width: 25%;
    margin-left: 2%;
    margin-top: 20px;
    float: left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px #888888;
  }

  .Properties_Pie_Chart {

    border: 1px solid black;
    height: 280px;
    width: 30%;
    margin-left: 2%;
    margin-top: 20px;
    float: left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px #888888;

  }

  .Rent_Info {

    /* border: 1px solid black; */
    height: 320px;
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;

  }

  .Doughnut_chart {

    border: 1px solid black;
    height: 280px;
    width: 30%;
    margin-left: 2%;
    margin-top: 20px;
    float: left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px #888888;

  }

  .Bar_chart_2 {

    border: 1px solid black;
    height: 280px;
    width: 40%;
    margin-left: 2%;
    margin-top: 20px;
    float: left;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px #888888;

  }


  .button {
    border: 1px solid #0a4f5f;
    background-color: #0a4f5f;
    color: white;
    margin-top: 40px;
    height: 40px;
    width: 45%;
    border-radius: 5px;
    margin-left: 20%;
    padding: 10px;
  }

  .button:hover {
    background-color: #678c96;
  }

  .button:active {

    background-color: #678c96;
    box-shadow: 0 2px #666;
    transform: translateY(2px);

  }


  .Bar_Canvas{
    /* border : 1px solid black; */
    height : 280px;
    width : 80%;
    float : left;
  }




  /* ***********************************************Center Content End*********************************************** */
</style>



<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<div class="header">
  <div class="header-btn">
    <div class="dropdown">
      <button class="dropbtn">{{newsessData.first_name}} {{newsessData.last_name}}</button>
      <div class="dropdown-content">
        <a routerLink="/re-profile-setting">Profile</a>
        <a (click)="signout()">Sign out</a>
      </div>
    </div>
  </div>
</div>

<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->




<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<div class="side_nav_bar">
  <div class="side_nav_bar_img">
    <img src="assets/pay2m_logo.JPG">
  </div>




  <div class="side_nav_bar_content">

    <!-- <div style="height: 20px; width : 40%; background-color: #ffffff; border-top-right-radius:10px; border-bottom-right-radius:10px;"><label style="color:#0a4f5f; margin-left: 5%;">Menu</label></div> -->
    <ul>
      <br>
      <li><a routerLink="/userprofile"><img style="height : 25px; width : 15%; border-radius: 2px;"
            src="assets/dashboard_4.jpg"> &nbsp; Dashboard</a></li>
      <div style="height: 1px; width : 60%; background-color: #ffffff;"></div>
      <li><a routerLink="/property-details"> <img style="height : 25px; width : 15%; border-radius: 2px;"
            src="assets/Property_logo.jpg"> &nbsp; Properties</a></li>
      <div style="height: 1px; width : 60%; background-color: #ffffff;"></div>
      <li><a routerLink="/re-tenant-details"> <img style="height : 25px; width : 15%; border-radius: 2px;"
            src="assets/tenant_logo.jpg"> &nbsp; Tenants</a></li>
      <div style="height: 1px; width : 60%; background-color: #ffffff;"></div>
    </ul>
  </div>
</div>

<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->



<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<div class="center_content">

  <!-- 
   <h2> {{property_data_length}}</h2>
  <h2>Total Sub Properties {{Sub_Property_Data_result}}</h2>
  <h2>Total Rent {{total_rent}}</h2><br>
  <h2>Total Occupied Properties {{All_Ten_Data_Result}}</h2>
  <h2>Total Rent Collection Required for the Current Month of Occupied Properties {{Total_Rent_Occupied_Properties}}</h2><br>
  <h2>Total Rent Collection for the Current Month of Occupied Properties {{Total_Collected_Rent}}</h2> <button (click)="Onclick()" >Tenant</button><br> -->


  <!-- <canvas id = "myChart">
    </canvas> -->


  <!-- <div style="border : 1px solid black; height: 350px; width : 25%">

      <canvas id="myChart" ></canvas>
      
    </div> -->


  <div class="Property_Info">

    <div class="Total_Properties_Block">

      <a routerLink="/property-details">
        <div style=" height : 240px; width : 50%; margin-top: 0px; float : left;">
          <i class="fa fa-home" style="font-size:120px; padding : 80px 20px 30px 60px; color:#0a4f5f;"></i>
        </div>

        <div style=" height : 240px; width : 50%; margin-top: 0px; float : left;">
          <p style="padding : 135px 20px 40px 25px; font-size: 100px; font-weight: bold; color:#0a4f5f;">
            {{property_data_length}}</p>
        </div>

        <div style=" height : 40px; width : 100%; margin-top: 240px;">
          <p style="padding : 10px; font-size: 18px; font-weight: bold; font-style: italic; color:#0a4f5f;">Total
            Properties</p>
        </div>
      </a>

    </div>



    <div class="Sub_Properties_Block">

      <a routerLink="/dashboard-sub-properties">

        <div style="height : 240px; width : 50%; margin-top: 0px; float : left;">
          <i class="fa fa-home" style="font-size:120px; padding : 80px 20px 30px 60px; color:#0a4f5f;"></i>

        </div>

        <div style=" height : 240px; width : 50%; margin-top: 0px; float : left;">
          <p style="padding : 140px 20px 40px 20px; font-size: 100px; font-weight: bold; color:#0a4f5f;">
            {{Sub_Property_Data_result}} </p>
          Total Rent {{total_rent}}
        </div>

        <div style=" height : 40px; width : 100%; margin-top: 240px;">
          <p style="padding : 10px; font-size: 18px; font-weight: bold; font-style: italic; color:#0a4f5f;">Total Units
          </p>
        </div>
      </a>

    </div>



    <div class="Properties_Pie_Chart">
      <canvas style=" float:left;" id="myChart"></canvas>
      <div style="height:280px; width:40%; float: left; ">
        <button class="button" style="background-color : #00aba9; border:#00aba9" (click)="Vacant_Property_Data()">Vacant</button>
        <button class="button" style="background-color : #b91d47; border:#b91d47" (click)="Occupied_Property_Data()">Occupied</button>
      </div>
    </div>

  </div>



  <div class="Rent_Info">

    <div class="Doughnut_chart">
      <canvas style="float:left;" id="myChart_2"></canvas>

      <div style="height:280px; width:40%; float: left; ">
        <button class="button" style="background-color : #00aba9; border:#00aba9; width:60%;" (click)="Cont_Expiring_Tenant()">Cont. Expiring</button>
        <button class="button" style="background-color : #b91d47; border:#b91d47; width:60%;" (click)="Active_Ten()">Active</button>
        <button class="button" style="background-color : red; border:red; width:60%;" (click)="InActive_ten()">InActive</button>
      </div>

    </div>

    <!-- <h2>Total Properties {{property_data_length}}</h2>
      <h2>Total Sub Properties {{Sub_Property_Data_result}}</h2> -->
    <!-- <h2>Total Rent {{total_rent}}</h2><br>
      <h2>Total Occupied Properties {{All_Ten_Data_Result}}</h2>
      <h2>Total Rent Collection Required for the Current Month of Occupied Properties {{Total_Rent_Occupied_Properties}}</h2><br>
      <h2>Total Rent Collection for the Current Month of Occupied Properties {{Total_Collected_Rent}}</h2> <button (click)="Onclick()" >Tenant</button><br>
      -->

    <!-- <canvas style="float:left;" id="myChart_bar" ></canvas> -->


    <div class="Bar_chart_2">

      <div class="Bar_Canvas">
      <canvas id="myChart_3"></canvas>
    </div>
      <div style="height:280px; width:20%; float: left; ">
        <button class="button" style="background-color : red; border:red; width:60%;" (click)="Onclick()">Detail</button>
      </div>
      

    </div>



  </div>

</div>

<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->



<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->









<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->