



<style>

    
    
    button {
      background-color: #04AA6D;
      color: white;
      padding: 10px 10px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
      border-radius: 5px;
    }
    
    button:hover {
      opacity:1;
    }
    
    
    .cancelbtn, .deletebtn {
      /* float: left; */
      width: 20%;
    }
    
    
    .cancelbtn {
      background-color: #ccc;
      color: black;
    }
    
    
    .deletebtn {
      background-color: #f44336;
    }
    
    
    .container {
      padding: 16px;
      text-align: center;
    }
    

    
    
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    

    </style>


<div class="container">
        
    <h1>Property Upload</h1>
    <p>This Property Already Exist</p>
   
    <div class="clearfix">
      <button type="button" (click)="Closepopup()" class="cancelbtn">Cancel</button>
      
    </div>
  </div>


