<style>
  body {
    background-image: url('assets/pay2m_bg_img.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh);
  }

  * {
    box-sizing: border-box;
  }

  /* Full-width input fields */
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Add a background color when the inputs get focus */
  input[type=text]:focus,
  input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for all buttons */
  button:enabled {
    background-color: #0a4f5f;
    color: #f1f1f1;
    padding: 14px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 1;
  }

  button:disabled {
    background-color: #0a4f5f;
    border-radius: 10px;
    color: white;
    padding: 14px 20px;
    border: none;
    width: 20%;
    opacity: 0.5;
  }

  button:hover:enabled {
    opacity: 1;
  }

    /* Add padding to container elements */
    .container {
    /* border: 1px solid black; */
    background-color: #fcfcfb;
    height: 425px;
    width: 30%;
    margin-right: 65%;
    margin-top: 50px;
    border-radius: 5px;

    /* padding: 16px; */
  }

  .Sign_up_heading{
    /* border : 1px solid black; */
    height : 100px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
  }

  .input_area{
    /* border: 1px solid black; */
    height: 210px;
    width: 100%;
    margin-top: 20px;
  }

  .input_border {
    /* border: 1px solid black; */
    height: 70px;
    width: 100%;
    
  }

  .reg_btn{
    /* border: 1px solid black; */
    height: 70px;
    width: 100%;
 
    padding: 8px;
  }

  span {
    font-size: 10px;
    color: red;
  }




  .header {
    border: 1px solid #0a4f5f;
    height: 143px;
    width: 100%;
    background-color: #0a4f5f;
  }

  #header_img {
    height: 140px;
    width: 8%;
  }

  .content {
    /* border: 1px solid black; */
    height: calc(100vh - 143px);
    width: 100%;

  }

  .footer-left {
    border: 1px solid #678c96;
    background-color: #678c96;
    height: 81px;
    width: 12%;
    margin-top: -0.9px;
    float : left;
  }
</style>

<body>

  <div class="header">

    <img id="header_img" src="assets/pay2m_logo.JPG">

  </div>

  <div class="content">

    <div class="container">

      <form [formGroup]="uploadForm" (ngSubmit)="onUpload()">

        <div class="Sign_up_heading">
          <h1>Login</h1>
          <p>Please fill in this form to Login your account.</p>
        </div>

        <div class="input_area">

          <div class="input_border">
        
        <input type="text" name="landlordid" formControlName="Email" placeholder="Email">
        <span *ngIf="Email && Email.invalid && Email.touched">This field is required</span>
      </div>

      <div class="input_border">
        
        <input type="password" name="landlordid" formControlName="Pswrd" placeholder="Password">
        <span *ngIf="Pswrd && Pswrd.invalid && Pswrd.touched">This field is required</span>
      </div>

      <div class="input_border" style="height: 35px; padding: 5px;">
        <a routerLink="/forget-password" style="margin-left:78% ;">Forget Password</a>
      </div>

      </div>

      <div class="reg_btn">

        <button type="submit" [disabled]="uploadForm.invalid">Login</button>
      </div>

      </form>


    </div>

  </div>

</body>

<div class="footer-left">

</div>

